@import "../lib/reset.css";
@font-face {
  font-family: "imooc-icon";
  src: url("../lib/fonts/icomoon.eot");
  src: url("../lib/fonts/icomoon.eot?iefix") format("embedded-opentype"), url("../lib/fonts/icomoon.woff") format("woff"), url("../lib/fonts/icomoon.ttf") format("truetype"), url("../lib/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  
  /*IE9兼容模式*/
}
.njl-header-citiao {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #459df5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.njl-header-citiao h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
}
.njl-main-citiao {
  width: 100%;
  height: auto;
  overflow-y: auto;
}
.njl-main-citiao .anchor {
  padding-top: 44px;
  display: block;
  box-sizing: border-box;
}
.njl-main-citiao .njl-banner-main {
  width: 100%;
  height: auto;
}
.njl-main-citiao .njl-banner-main img {
  width: 100%;
  height: auto;
}
.njl-main-citiao .main-list-flow {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.njl-main-citiao .main-list-flow .anchor {
  display: block;
  margin-top: 90px;
}
.njl-main-citiao .main-list-flow .pub-blue {
  color: #55a5f6;
}
.njl-main-citiao .main-list-flow .njl-title-main {
  width: 100%;
  line-height: 41px;
  margin-bottom: 15px;
}
.njl-main-citiao .main-list-flow .njl-title-main span {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px #ebebeb solid;
  padding-bottom: 10px;
  color: #252525;
}
.njl-main-citiao .main-list-flow .extra-item-label {
  color: #a7a7a7;
  font-size: 13px;
}
.njl-main-citiao .main-list-flow .extra-item-label .same-words {
  padding: 0 3px;
  height: 19px;
  line-height: 19px;
  border-radius: 2px;
  text-align: center;
  border: 1px #55a5f6 solid;
  margin-right: 15px;
}
.njl-main-citiao .main-list-flow .summary-content {
  font-size: 16px;
  margin-top: 30px;
  line-height: 28px;
  color: #3f3f3f;
}
.njl-main-citiao .main-list-flow .basicInfo {
  font-size: 16px;
  margin-top: 30px;
  line-height: 28px;
  color: #888;
}
.njl-main-citiao .main-list-flow .basicInfo span {
  margin-right: 30px;
  color: #3f3f3f;
}
.njl-main-citiao .title-level-2 {
  font-size: 20px;
  font-weight: 700;
  color: #3f3f3f;
  border-left: 5px solid #459df5;
  padding-left: 10px;
  line-height: 1;
  margin-top: 30px;
}
.njl-main-citiao .para {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 30px;
  line-height: 28px;
  color: #3f3f3f;
}
.menu {
  position: fixed;
  padding: 9px  5px;
  background-color: rgba(69, 157, 245, 0.9);
  color: #fff;
  bottom: 40px;
  right: 10px;
  font-size: 14px;
}
.njl-shadow-main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.njl-shadow-main .shadow-left-list {
  width: 35%;
  height: 100%;
}
.njl-shadow-main .shadow-right-list {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 65%;
  height: 100%;
  background-color: #fff;
}
.njl-shadow-main .shadow-right-list .shadow-list-title {
  width: 100%;
  height: 44px;
  background-color: #459df5;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
}
.njl-shadow-main .shadow-right-list .shadow-list .shadow-list-item {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
  color: #333;
}
.njl-shadow-main .shadow-right-list .shadow-list .here {
  background: #fafafa;
  color: #3695f5;
}
